!!appereance
URxvt.scrollBar: false

!!fonts
URxvt.font: xft:Iosevka:style=Regular:size=11, xft:Symbola:style=Regular:size=11
URxvt.boldFont: xft:Iosevka:style=Bold:size=11, xft:Symbola:style=Bold:size=11
URxvt.italicFont: xft:Iosevka:style=Italic:size=11, xft:Symbola:style=Italic:size=11
URxvt.boldItalicFont: xft:Iosevka:style=Bold Italic:size=11, xft:Symbola:style=Italic:size=11
